


.container {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
}
table {
    padding: 4px;
    border: rgb(240, 80, 107) 2px;
    border-width: 0.2em;

}

input[type="button"] {
    padding: 10px;
    font-size: 20px;
    background-color: pink;
    border-color: rgb(181, 44, 94);
    
}

input[type= "text"] {
    padding: 10px;
    font-size: 20px;
    background-color: rgb(255, 221, 227);
    color: rgb(240, 80, 107);
}